@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: linear-gradient(45deg, #79eeff, #213555);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.defaultFont {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.subFont {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.backgroundGradient {
  background-image: linear-gradient(45deg, #79eeff, #213555);

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nongradient {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav{
  /* From https://css.glass */
  background: rgba(35, 41, 49, 0.37);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.glasseffect {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.about,
.underdev {
  color: white;
  background-color: #4ECCA3;
  cursor: pointer;
}

.tech,
.services {
  cursor: pointer;
}

.year,
source {
  font-family: 'Courier New', Courier, monospace;
}

.cert {
  font-size: 0.8rem;
}

.banner {
  background-image: url("/salesforce/bg/bg.jpeg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.mobdev,.webdev,.videoediting{
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}

.sampleWorks{
  background: rgba(35, 41, 49, 0.37);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 0;
}
.tech{
  cursor: pointer;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}