@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: linear-gradient(45deg, #79eeff, #ff7c00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.backgroundGradient {
  background-image: linear-gradient(45deg, #79eeff, #ff7c00);

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nongradient {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav {
  /* From https://css.glass */
  background: rgba(31, 31, 31, 0.45);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.glasseffect{
    /* From https://css.glass */
    background: rgba(31, 31, 31, 0.45);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.about {
  color: white;
  font-family: monospace;
  background: linear-gradient(to right, #79eeff, #ff7c00);

}
.tech,.services{
  cursor: pointer;
}
.year,source{
  font-family: 'Courier New', Courier, monospace;
}
.cert{
  font-size: 0.8rem;
}
.banner{
  background-image: url("/salesforce/bg/bg.jpeg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}