@tailwind base;
@tailwind components;
@tailwind utilities;
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 72px;
    background: -webkit-linear-gradient(#ffd89b, #19547b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }