@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: linear-gradient(45deg, #79eeff, #ff7c00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nongradient {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.philippines {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: linear-gradient(90deg, #64c5ff, #ff2020);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav {
  /* From https://css.glass */
  background: rgba(31, 31, 31, 0.45);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

